name: Push kaggle kernels

on: 
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    name: Python ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Kaggle deploy from existing metadata file
        uses: ./
        with:
          kaggle_username: ${{ secrets.kaggle_username }}
          kaggle_key: ${{ secrets.kaggle_key }}
          kaggle_make_new_kernel: true
          kaggle_metadata_path: test/kernel-metadata.json
          kernel_id: ngnvntien/github-action-test
  
      - name: Kaggle deploy as new
        uses: ./
        with:
          kaggle_username: ${{ secrets.kaggle_username }}
          kaggle_key: ${{ secrets.kaggle_key }}
          kaggle_make_new_kernel: true
          kernel_id: ngnvntien/github-action-test
          code_file_path: test/github-action-test.ipynb
          kernel_title: github-action-test
          language: python
          kernel_type: notebook
          is_private: true
          enable_gpu: true
          enable_internet: true
          submit_to_competition: false
          collect_output: true
  
      - name: Download outputs
        uses: actions/upload-artifact@v1
        with:
          name: outputs
          path: outputs/outputs.zip